<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nuist.mapper.ClassMapper">


<!--    Class selectByStepTwo(@Param("cid") Integer cid);-->
    <select id="selectByStepTwo" resultType="Class">
        select * from t_class where cid = #{cid}
    </select>


    <resultMap id="classToUser" type="Class">
        <id property="cid" column="cid"/>
        <result property="cname" column="cname"/>
        <collection property="users" select="com.nuist.mapper.UserMapper.selectUserByCid" column="cid"/>
    </resultMap>
<!--    Class selectDetailClass(@Param("cid") Integer cid);-->
    <select id="selectDetailClass" resultMap="classToUser">
        select * from t_class where cid = #{cid}
    </select>

</mapper>